<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.train.authorityservice.mapper.AuthorityMapper">


    <select id="getUserAuthority" resultType="com.train.entityservice.entity.vo.UserAuthorityVO">
        SELECT
        trainJurisdiction.jur_name AS authorityName,
        trainJurisdiction.identification AS authorityKey
        FROM
        train_jurisdiction AS trainJurisdiction
        INNER JOIN train_role_jurisdiction AS trainRoleJurisdiction ON trainRoleJurisdiction.jurisdiction_id =
        trainJurisdiction.id
        INNER JOIN train_role AS trainRole ON trainRole.id = trainRoleJurisdiction.role_id
        INNER JOIN train_user_subsidiary AS trainUserSubsidiary ON trainUserSubsidiary.role_id = trainRole.id
        INNER JOIN train_user AS trainUser ON trainUser.id = trainUserSubsidiary.user_id
        <where>
            AND trainUser.id = #{userId}
            AND trainUser.is_deleted =2
        </where>


    </select>
</mapper>